{% extends 'layout.twig' %}

{% block stylesheets %}
    <link rel='stylesheet' href='/stylesheets/add.css'/>
{% endblock %}

{% block main_actions %}
    <a href="/">(Homepage)</a>
{% endblock %}

{% block body %}
    <form action="/add-highlights" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>File CSV</label>
            <input type="file" id="file" name="file" multiple>
            <small>File must be in a compatible Kindle format.</small>
        </div>
        <div class="form-group">
            <label>Language</label>
            <select id="language" name="language" required>
                <option value="it">Italian</option>
                <option value="en">English</option>
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit">
        </div>

        {% for book in books %}
            <div class="card">
                <div class="card-heading">
                    <strong>
                        {{ book.title }} -
                        {% for author in book.authors %}
                            {{ author }} {% if index.last %},{% endif %}
                        {% endfor %}
                        ({{ book.publishedDate }})
                    </strong>
                    <div>ISBN: {{ book.isbn13 }}</div>
                </div>
                <em><a href="{{ book.link }}">Link</a></em>
            </div>
        {% endfor %}
    </form>
{% endblock %}
