{% extends 'layout.twig' %}

{% block stylesheets %}
    <link rel='stylesheet' href='/stylesheets/index.css'/>
{% endblock %}

{% block main_actions %}
    {% if authenticated %}
        <span>
            <a href="/add">Add new book</a> / <a href="/add-highlights">Upload new highlights</a>
        </span>
    {% endif %}
{% endblock %}

{% block body %}
    <ul class="books">
        {% for book in books %}
            <li class="book" id="book-{{ book.id }}">
                <a href="/detail/{{ book.id }}">
                    {% if book.imageLinks %}
                        <img src="{{ book.imageLinks }}" alt="Cover" class="cover" />
                    {% endif %}
                    <strong class="{{ book.highlights.length > 0 ? 'highlighted-book' : 'regular-book' }}">
                        <span></span> {{ book.title }}
                    </strong>
                    <br>
                    <span>{{ book.authors }}</span>
                </a>
            </li>
        {% endfor %}

        {% if books | length < 8 %}
            {% for fake in range(0, 8 - books | length) %}
                <li class="book" id="book-{{ book.id }}"></li>
            {% endfor %}
        {% endif %}
    </ul>
{% endblock %}
